<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="com.training.mstMainte.mapper.BoardMapper">
	<select id="boardSelect" resultType="com.training.mstMainte.entity.BoardVO">
		select * from mst_goods;
	</select>
	
	<select id="boardSearch" resultType="com.training.mstMainte.entity.BoardVO">
		select * from mst_goods
		where goodsNumber = #{keyword}
	</select>
	
	<select id="boardView" resultType="com.training.mstMainte.entity.BoardVO">
		select * from mst_goods
		where goodsNumber = #{goodsNumber}
	</select>
	
	<insert id="boardInsert">
		insert into mst_goods(goodsNumber, goodsName, goodsId, goodsPrice, insertDate, updateDate)
		values(#{goodsNumber}, #{goodsName}, #{goodsId},#{goodsPrice}, now(), now())
	</insert>
	
	<update id="boardUpdate">
		update mst_goods set 
		goodsNumber = #{goodsNumber},
		goodsName = #{goodsName},
		goodsPrice = #{goodsPrice},
		updateDate = now()
		where goodsNumber = #{goodsNumber}
	</update>
	
	<delete id="boardDelete">
		delete from mst_goods
		where goodsNumber = #{goodsNumber}
	</delete>
	
	<select id="boardData" resultType="com.training.mstMainte.entity.BoardVO">
		select * from mst_goods
		where goodsNumber = #{goodsNumber}
	</select>
	
	<select id="goodsNumberCheck" resultType="int">
		select count(*) from mst_goods
		where goodsNumber = #{goodsNumber}
	</select>
	
	<select id="boardSelectDress" resultType="com.training.mstMainte.entity.BoardVO">
		select * from mst_goods
		where goodsId = #{goodsId}
	</select>
	
	<select id="boardSelectEat" resultType="com.training.mstMainte.entity.BoardVO">
		select * from mst_goods
		where goodsId = #{goodsId}
	</select>
	
	<select id="boardSelectEtc" resultType="com.training.mstMainte.entity.BoardVO">
		select * from mst_goods
		where goodsId = #{goodsId}
	</select>
</mapper>