<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>商品作成</title>
    <meta charset="utf-8" />
    
    <!-- 제이쿼리 -->
    <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
	
	<!-- 합쳐지고 최소화된 최신 CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	
	<!-- 부가적인 테마 -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	
	<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </head>
  
  <body>
  
  <div class="container">
	<h1>商品作成</h1>
	
	<form method="POST" th:action="@{BoardInserted}" name="form" onsubmit="return InsertCheck()">
	<!-- th:object 해당 태그내에서 사용할 객체 선언, 태그 안에서 *{}안에 필드명을 입력-->
		
		<div class="row my-3 pl-5">
       	  <div class="col-3">
       		 <label for="code">商品コード</label>
      	  </div>
       	  <div class="col-6">
       		 <input type="text" class="form-control" name="goods_number" id="goods_number" placeholder="数字10桁">
          </div>
          <div class="col-2">
       		 <button type="button" class="btn btn-default navbar-btn" value="0" id="goods_number_check">Check</button>
          </div>
        </div>

		<div class="row my-3 pl-5">
       	  <div class="col-3">
       		 <label for="ID">商品名前</label>
      	  </div>
       	  <div class="col-6">
       		 <input type="text" class="form-control" name="goods_name" id="goods_name" placeholder="">
          </div>
        </div>
        		
		<div class="row my-3 pl-5">
       	  <div class="col-3">
       		 <label for="ID">商品価格</label>
      	  </div>
       	  <div class="col-6">
       		 <input type="text" class="form-control" name="goods_price" id="goods_price" placeholder="">
          </div>
        </div>
		
		<div class="row my-3 pl-5">
       	  <div class="col-3">
       		 <label for="ID">商品分類</label>
      	  </div>
			<div class="btn-group-vertical" role="group" aria-label="...">
			      <select class="form-control" id="selectBox" onchange="selected(this)">
			        <option th:value="衣類" selected>衣類</option>
			        <option th:value="食品">食品</option>
			        <option th:value="他">他</option>
			    </select>
			    <input type="hidden" value="0" id="goods_id" name="goods_id">
			</div>
        </div>
        
		<div>
			<button type="submit" class="btn btn-default navbar-btn">作成完了</button>
			<a class="btn btn-default navbar-btn" th:href="@{BoardList}">キャンセル</a>
		</div>
	</form>
	
	</div>
	
  </body>
  
	<script>
		 $("#goods_number_check").click(function(){ //id가 idCheck인것이 클릭 되면
			 var goods_number = $('#goods_number').val();
		 	 var valueCheck = /^[0-9]{10}$/; 
		 	 
		 	if(!valueCheck.test(goods_number)){
		 		alert("数字10桁だけ可能です");
		 	} else {
			 $.ajax({
				 url:"goods_cd_check",
				 type:"post",	 
				 data: {goods_number:goods_number},
				 dataType:"json",
				 success:function(data){
					 if(data == 0){  // data : 반환타입 ,  data.message : model이나 request로 보낸값
						 $('#goods_number_check').val('1');
					     alert("使用可能です");	
					 } else {
						 $('#goods_number_check').val('0');
						 alert("既に使用されています");
					 }
				 },
				 error: function(request, status, error){	
					 alert("에러가발생했습니다:");
				 }
			 });
			 
		 	}
		 });
	
	</script>
	
		<!-- 회원가입 체크 -->
	<script>
		function InsertCheck() {
			if(document.form.goods_number.value=="") {
				alert("商品コ―ドを入力してください");
				form.goods_number.focus();
				return false;
			}
			if(document.form.goods_name.value=="") {
				alert("商品名を入力してください");
				form.goods_name.focus();
				return false;
			}
			
			if(document.form.goods_price.value=="") {
				alert("商品の価格を入力してください");
				form.goods_price.focus();
				return false;
			}
			if(document.form.id.goods_number.length<10 && document.form.id.goods_number.length >= 11) {
				alert("商品コ―ドは数字10桁です");
				form.goodsNumber.focus();
				return false;
			}
			if(form.goods_number_check.value==0) {
				alert("IDチェックをしてください。");
				form.goods_number_check.focus;
				return false;
			}
			
			return true;
		}
	</script>
	
	<!-- select박스 값 가져오기 -->
	<script type="text/javascript">
	//var value = $("#selectBox option:selected").val(); //제이쿼리 #selectBox option:checked도 가능
	//var value = $("#selectBox option:selected").attr('value2'); 2개의 값을 가져올때
	//var value2 = document.getElementById("selectBox"); //자바스크립트
	//value2.options[selectOption.selectIndex].value;

	
	function selected(e){
	$('#goods_id').val(e.value); //hidden input태그에 값 넣기
	}

	</script>
</html>