<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>상품정보수정</title>
    <link href="/css/list.css" rel="stylesheet"></link>
    <meta charset="utf-8" />
    
   	<!-- 제이쿼리 -->
    <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
	
	<!-- 합쳐지고 최소화된 최신 CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	
	<!-- 부가적인 테마 -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	
	<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </head>
  <body>
  
    <div class="container">
	<h1>상품작성</h1>
	
	<form method="POST" action="BoardUpdated" name="form" onsubmit="return InsertCheck()">
	<!-- th:object 해당 태그내에서 사용할 객체 선언, 태그 안에서 *{}안에 필드명을 입력-->
		
		<div class="row my-3 pl-5">
       	  <div class="col-3">
       		 <label for="code">상품코드</label>
      	  </div>
       	  <div class="col-6">
       		 <input type="text" class="form-control" name="goods_number" id="goods_number" value="${boardVO.goods_number}">
          </div>
        </div>

		<div class="row my-3 pl-5">
       	  <div class="col-3">
       		 <label for="ID">상품이름</label>
      	  </div>
       	  <div class="col-6">
       		 <input type="text" class="form-control" name="goods_name" id="goods_name" value="${boardVO.goods_name}" placeholder="">
          </div>
        </div>
        		
		<div class="row my-3 pl-5">
       	  <div class="col-3">
       		 <label for="ID">상품가격</label>
      	  </div>
       	  <div class="col-6">
       		 <input type="text" class="form-control" name="goods_price" id="goods_price" value="${boardVO.goods_price}" placeholder="">
          </div>
        </div>
		
		<div>
			<button type="submit" class="btn btn-default navbar-btn">수정완료</button>
			<a class="btn btn-default navbar-btn" href="BoardDelete?goods_number=${boardVO.goods_number})">삭제</a>
			<a class="btn btn-default navbar-btn" href="BoardList">취소</a>
		</div>
	</form>
	
	</div>
	
  </body>

</html>