<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="com.training.mstMainte.Mapper.BoardMapper">
	<select id="BoardSelect" resultType="com.training.mstMainte.Entity.BoardVO">
		select * from mst_goods;
	</select>
	
	<select id="BoardSearch" resultType="com.training.mstMainte.Entity.BoardVO">
		select * from mst_goods
		where "goodsNumber" = #{keyword}
	</select>
	
	<select id="BoardView" resultType="com.training.mstMainte.Entity.BoardVO">
		select * from mst_goods
		where "goodsNumber" = #{goods_number}
	</select>
	
	<insert id="BoardInsert">
		insert into mst_goods("goodsNumber", goods_name, goods_id, goods_price, insert_date, update_date)
		values(#{goods_number}, #{goods_name}, #{goods_id},#{goods_price}, now(), now())
	</insert>
	
	<update id="BoardUpdate">
		update mst_goods set 
		goods_number = #{goods_number},
		goods_name = #{goods_name},
		goods_price = #{goods_price},
		insert_date = now()
		where goods_number = #{goods_number}
	</update>
	
	<delete id="BoardDelete">
		delete from mst_goods
		where goods_number = #{goods_number}
	</delete>
	
	<select id="BoardData" resultType="com.training.mstMainte.Entity.BoardVO">
		select * from mst_goods
		where goods_number = #{goods_number}
	</select>
	
	<select id="GoodsNumberCheck" resultType="int">
		select count(*) from mst_goods
		where goods_number = #{goods_number}
	</select>
	
	<select id="boardSelect_Dress" resultType="com.training.mstMainte.Entity.BoardVO">
		select * from mst_goods
		where goods_id = #{goods_id}
	</select>
	
	<select id="boardSelect_Eat" resultType="com.training.mstMainte.Entity.BoardVO">
		select * from mst_goods
		where goods_id = #{goods_id}
	</select>
	
	<select id="boardSelect_ETC" resultType="com.training.mstMainte.Entity.BoardVO">
		select * from mst_goods
		where goods_id = #{goods_id}
	</select>
</mapper>