<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>商品情報修正</title>
    <link href="/css/list.css" rel="stylesheet"></link>
    <meta charset="utf-8" />
    
   	<!-- 제이쿼리 -->
    <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
	
	<!-- 합쳐지고 최소화된 최신 CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	
	<!-- 부가적인 테마 -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	
	<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </head>
  <body>
  
    <div class="container">
	<h1>商品情報修正</h1>
	
	<form method="POST" th:object="${boardVO}" th:action="@{BoardUpdated}" name="form" onsubmit="return InsertCheck()">
	<!-- th:object 해당 태그내에서 사용할 객체 선언, 태그 안에서 *{}안에 필드명을 입력-->
		
		<div class="row my-3 pl-5">
       	  <div class="col-3">
       		 <label for="code">商品コード</label>
      	  </div>
       	  <div class="col-6">
       		 <input type="text" class="form-control" name="goods_number" id="goods_number" th:field="*{goods_number}">
          </div>
        </div>

		<div class="row my-3 pl-5">
       	  <div class="col-3">
       		 <label for="ID">商品名前</label>
      	  </div>
       	  <div class="col-6">
       		 <input type="text" class="form-control" name="goods_name" id="goods_name" th:field="*{goods_name}" placeholder="">
          </div>
        </div>
        		
		<div class="row my-3 pl-5">
       	  <div class="col-3">
       		 <label for="ID">商品価格</label>
      	  </div>
       	  <div class="col-6">
       		 <input type="text" class="form-control" name="goods_price" id="goods_price" th:field="*{goods_price}" placeholder="">
          </div>
        </div>
		
		<div>
			<button type="submit" class="btn btn-default navbar-btn">修正完了</button>
			<a class="btn btn-default navbar-btn" th:href="@{BoardDelete(goods_number=*{goods_number})}">削除</a>
			<a class="btn btn-default navbar-btn" th:href="@{BoardList}">キャンセル</a>
		</div>
	</form>
	
	</div>
	
  </body>

</html>