<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>상품정보</title>
    <link href="/css/BoardList.css" rel="stylesheet"></link>
    <meta charset="utf-8" />
    
    <!-- 제이쿼리 -->
    <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
	
	<!-- 합쳐지고 최소화된 최신 CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	
	<!-- 부가적인 테마 -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	
	<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </head>
<body>

<div class="container">
	<p></p>
	<div class="row" style="margin-top:100px;"><!-- 12 -->
    	<div class="col-md-6"><!-- 6 -->
    		<img th:if="${boardVO.fileName == null}" th:src="@{/images/noImage.jpg}" class="img-thumbnail" width="400" height="400"> 
			<img th:if="${boardVO.fileName != null}" th:src="${boardVO.fileName}" class="img-thumbnail" width="400" height="400">
        </div>
        <div class="col-md-6"><!-- 6 -->
			<dl class="dl-horizontal" style="font-size:30px; margin-top:60px;">
			  <dt>分類</dt><dd th:text="${boardVO.goodsId}"></dd>
			  <dt>商品コード</dt><dd th:text="${boardVO.goodsNumber}"></dd>
			  <dt>商品名</dt><dd th:text="${boardVO.goodsName}"></dd>
			  <dt>商品価格</dt><dd th:text="${boardVO.goodsPrice}">円</dd>
			</dl>
        </div>
     </div>       
    
    <div class="text-center" style="margin-top:60px;">
    	<a class="btn btn-default navbar-btn" th:href="@{boardList}">戻る</a>
    </div>                             
	
<!--  
    <div class="row justify-content-center mt-4">
    	<div class="col-2 text-center">
   	   		<button type="submit" class="btn btn-success">作成</button>
   	    </div>
    	<div class="col-2 text-center">
   			<button type="button" class="btn btn-success">取り消し</button>
   		</div>
    </div
-->


</div>
                 
</body>
</html>